# Ignore private keys
*.pem
teraform/.terraform/
# Ignore Terraform state files
*.tfstate
*.tfstate.backup
ansible/value-key.pem

# Ignore Ansible cache
*.retry
ansible/value-key.pem

# Ignore IDE settings
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db.terraform/
